<!DOCTYPE html>
<html>
<head>

</head>
<body>
		<form method="POST" action='' enctype="multipart/form-data" class="form-horizontal">
	<table>
		<tr><td>ID</td><td>Name</td><td>Award Amount</td><td>Award Title</td></tr>
		
		<tr>
			<td>Player1 <input type="text" name="player_key" value="playerkey"></td>
			<td><input type="text" name="player_name" value="player 1 name"></td>
			<td><input type="text" name="award_amount" value="1601"></td>
			<td><input type="text" name="award_title" value="Planted a bomb"></td>
		</tr>
		
		<tr><td colspan=3>
		<button type="submit" name="save" value="save" class="btn btn-primary">Submit</button>
		</td></tr>

	</form>

</body>
</html>